/* ================ COMMON STYLES ================ */
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
  background-color: #FFFFFF;
}

button {
  cursor: pointer;
}

/* ================ HEADER STYLES ================ */

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;;
}

.page-logo-studio {
    color: #2e2f42
}

.menu-item {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-item:hover,
.menu-item:focus {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.address-section{
    font-style: normal 
}

.address-list-item {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: inherit;
}

.address-list-item:hover,
.address-list-item:focus {
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* ================ MAIN PAGE ================ */

.main-section{
    background-color: #2e2f42
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-order {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.button-order:hover,
.button-order:focus {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}
/* ================ QUALITIES STYLES ================ */

.qualities-list-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.qualities-list-text {
  letter-spacing: 0.02em;
  color: inherit;
}

/* ================ TEAM STYLES ================ */

.team-section {
    background-color: #F4F4FD
}

.team-tittle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-profession {
  letter-spacing: 0.02em;
  text-align: center;
  color: inherit;
}
/* ================ PORTFOLIO STYLES ================ */

.portfolio-section{
    background-color: #FFFFFF
}

.portfolio-tittle {
    text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list-project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-project-type {
  letter-spacing: 0.02em;
  color: inherit;
}

/* ================ PAGE FOOTER STYLES ================ */

.page-footer{
    background-color: #2e2f42
}

.page-footer-logo{
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5
}

.page-footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
}
