/* ================ COMMON STYLES ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================ HEADER STYLES ================ */

.header-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-right: 76px;
}

.page-logo-studio {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.address-section {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px;
}

.address-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px;
}

.address-list-link {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: inherit;
}

.address-list-link:hover,
.address-list-link:focus {
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* ================ MAIN PAGE ================ */

.main-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.button-order {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
}

.button-order:hover,
.button-order:focus {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}
/* ================ QUALITIES STYLES ================ */

.qualities-section {
  padding-top: 120px;
  padding-bottom: 120px; 
}

.qualities-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
}

.qualities-list {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.qualities-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
}

.qualities-list-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  margin-bottom: 8px;
}

.qualities-list-text {
  display: flex;
  justify-content: flex-start;
  letter-spacing: 0.02em;
  color: inherit;
}

/* ================ TEAM STYLES ================ */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 0 0 4px 4px;
  padding: 0px 0px 0px 0px;
  width: calc((100% - 72px) / 4);
}

.team-list-person-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-tittle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  margin-bottom: 72px;
  max-width: 164px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.team-list-profession {
  letter-spacing: 0.02em;
  text-align: center;
  color: inherit;

  display: flex;
  margin-left: auto;
  margin-right: auto;
}
/* ================ PORTFOLIO STYLES ================ */

.portfolio-section {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
}

.portfolio-tittle {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  max-width: 220px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.portfolio-list-project-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-list-project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-project-type {
  letter-spacing: 0.02em;
  color: inherit;
}

/* ================ PAGE FOOTER STYLES ================ */

.page-footer {
  background-color: #2e2f42;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-footer-container {
  flex-direction: column;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  display: flex;
  width: 264px;
}
